:root {
    /* COLORS  */
    --color-primary: #ee5057;
    --color-secondary: #111;
    --color-text: #555;
    --color-light:#ffffff;
    --gray-color: #ededed;
    /* FONTS */
    --font-primary: "Open Sans", serif;
    --font-bold: 700;
    --font-light: 400;
    --font-size-text: 13px;
    --font-size-title: 20px;
    --foct-size-section-title: 48px;
    /* SIZE */
    --size-pd-mg-primary: 25px;
    --padding-double: calc(var(--size-pd-mg-primary) * 2);
    --height-primary:120px;
    --size-half: calc(var(--size-pd-mg-primary) / 2);
}
html{
    scroll-behavior: smooth;
    /* scroll-padding-top:60px ; */
}
a{
    color: inherit;
    text-decoration: none;
}
/* -- ----------
-----NAVBAR-----
----------- --- */
.navbar .level-nav-link.nav-link{
    padding: var(--size-pd-mg-primary) ;
}
.navbar .level-nav-link.nav-link:hover,
.navbar .level-nav-link.nav-link.active{
    background-color: var(--color-primary);
    color: var(--color-light);
}
@media (min-width:768px)  {
    .navbar{
        height: var(--height-primary);
        .level-nav-link.nav-link{
            padding: var(--padding-double) var(--size-pd-mg-primary);
        }
    
    }
}
.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand h1 {
    margin: 0;
}
.logo-text{
    font-size: var(--size-pd-mg-primary);
    font-weight: var(--font-bold);

}
/* -- ----------
-----HERO-----
----------- --- */
.hero{
    background: url(../img/bg-img-1.jpg) no-repeat center center / cover; 
    height: 515px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-form{
    background: var(--color-light);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--size-half);
    padding: var(--size-pd-mg-primary) var(--padding-double);
}
.form-group{
    flex: 1 25%;
    position: relative;
    display: flex;
    align-items: center;
}
.form-control {
    padding: var(--size-half);
    padding-left: var(--padding-double);
    border-radius: 0;
}
.form-group i{
    color: var(--color-primary);
    font-size: var(--font-size-title);
    position: absolute;
    left: var(--size-half);
}
.btn.btn-primary{
    background-color: var(--color-primary);
    border: none;
    border-radius: 0;
    width: 100%;
    padding: var(--size-half);
    text-transform: uppercase;
    font-weight: var(--font-bold);
    &:hover{
        background-color: #c7333a;
    }
}
.need-help{
    background-color: var(--color-light);
    font-size: .8rem;
    padding: 0 var(--padding-double) var(--size-pd-mg-primary);
    a{
        font-weight: var(--font-bold);
        text-decoration: none;
        color: rgb(0, 106, 255);
        &:hover{
            text-decoration: underline;

        }
    }
}
/* -- ----------
----SUBSCRIBE---
----------- --- */
section {
    padding: var(--padding-double) 0;
    position: relative;
}
.section-color {
    background-color: var(--color-primary);
    color: var(--color-light);
}
.section-title {font-size: var(--foct-size-section-title);}
.section-subtitle {font-size: var(--font-size-title);}
.btn-white {
    border: 2px solid var(--color-light);
    color: inherit;
    text-transform: capitalize;
    padding: var(--size-half) var(--size-pd-mg-primary);
    &:hover{
        background-color: var(--color-light);
        color: var(--color-primary);
    }
}
/* -- ----------
----SERVICES---
----------- --- */
.section-down-arrow{
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--height-primary);
}
.article {
    text-align: center;
    color: var(--color-primary);
    margin-top: var(--padding-double);
    padding: var(--size-pd-mg-primary);
    transition: all .2s ease-in;
}
.article:hover{
    scale: 1.1;
    box-shadow: 0 0 7px 0 var(--color-text);
}

.article .article-icon{
    margin-bottom: var(--size-pd-mg-primary);
    font-size: 4rem;
}
.article .btn.btn-primary,
.level-slider .btn.btn-primary {
    width: max-content;
}
/* -- ---------
----SLIDER-----
----------- --- */
.section-gray{
    background-color: var(--gray-color);
}

.level-slider-item {
    padding: 10px;
    background-color: var(--color-light);

}
.level-slider img{
    max-width: 100%;
}
.level-slider-item-container {
    padding: var(--size-pd-mg-primary);
}
.level-slider-item h3{
    font-size: var(--font-size-title);
    color: var(--color-primary);
}
.level-slider-item p{
    font-size: var(--font-size-text);
    color: var(--color-text);
}
/* ------------------ */
.star-plsces {
    background-color: var(--color-light);
}
.star-places-header{
    color: var(--color-light);
    background-color: var(--color-primary);
    padding: var(--size-half);
}
.star-places-header h3{
    font-size: var(--font-size-title);

}
.star-places-header p{
    margin: 0;
    font-size: var(--font-size-text);
}
.star-places-body {
    padding: var(--size-half);
}
.star-places-body a {
    display: flex;
    background-color: var(--gray-color);
    margin-bottom: var(--size-half);
    align-items: center;
    justify-content: flex-start;
    gap: var(--size-pd-mg-primary);
    transition: all .2s ease-in;
}
.star-places-body a:last-child{
    margin: 0;
}
.star-places-body a:hover{
    background-color: #c6c6c6;
}
.star-places-body a h4{
    text-transform: uppercase;
    font-size: var(--font-size-title);
}
/* -- --------
----VIDEO-----
----------- -- */
.video-container {
    width: 100%;
    height: 515px;
    overflow: hidden;
    position: relative;
}
.video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.video .overlay{
    width: 100%;
    height: 515px;
    position: absolute;
    background-color: rgb(0 0 0 / 50%);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay i {
    color: var(--color-light);
    font-size: var(--foct-size-section-title);
    cursor: pointer;
}
.video-control-pause {
    display: none;
}
/* -- --------
----CONTACT---
----------- -- */
.contact-form {
    margin: 0 auto;
}
.contact-form .form-control {
    background-color: var(--gray-color);
    margin-bottom: var(--size-half);
    border: none;
}
.contact-form  i{
    top: calc(var(--size-half) + 5px);
}
.map-container {
    width: 100%;
    height: 100%;
    padding-bottom: var(--size-half);
}
/* -- --------
----FOOTER---
----------- -- */
.footer {
    background-color: var(--color-secondary);
}
.footer p {
    padding: var(--size-pd-mg-primary) 0;
    color: var(--color-light);
    text-align: center;
    margin-bottom: 0;
}
.footer a {
    color: var(--color-primary);
    font-weight: var(--font-bold);
}